/*
    Created by: Berenshia Apunda - 1001745459
    Project: Website Redesign
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&family=Playfair+Display&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

:root {
    /* Grid */

    --grid-width: calc(100% / 12);
    --col-1: calc(var(--grid-width) * 1);
    --col-2: calc(var(--grid-width) * 2);
    --col-3: calc(var(--grid-width) * 3);
    --col-4: calc(var(--grid-width) * 4);
    --col-5: calc(var(--grid-width) * 5);
    --col-6: calc(var(--grid-width) * 6);
    --col-7: calc(var(--grid-width) * 7);
    --col-8: calc(var(--grid-width) * 8);
    --col-9: calc(var(--grid-width) * 9);
    --col-10: calc(var(--grid-width) * 10);
    --col-11: calc(var(--grid-width) * 11);
    --col-12: calc(var(--grid-width) * 12);

    /* Branding */
    --primary: 		hsl(151, 93%, 22%);
    --primary-hover: 	hsl(151, 93%, 32%);
    --secondary: #E5F6DF;
    --secondary-hover: #c7f7b5;
    --background-color: #fff8e7;
    --tertiary: hsl(16, 87%, 62%);
    --tertiary-hover: hsl(16, 87%, 32%);
    --font-color: #140b01;

    --gray-0: #222222;
    --gray-1: #666666;
    --gray-2: #999999;
    --gray-3: #dadada;

    --white: white;
    --red: hsl(352, 73% , 40%);
    --red-hover: hsl(352, 73% , 20%);


    /* Typography */
    --base-font-size: 20px;
    --base-scale: 1.25;
    --base-line-height: calc(1em * var(--base-scale));
    --h4-font-size: 1rem;
    --h3-font-size: calc(1rem * var(--base-scale));
    --h2-font-size: calc(1rem * var(--base-scale) * var(--base-scale));
    --h1-font-size: calc(1rem * var(--base-scale) * var(--base-scale) * var(--base-scale));

    /* Other */
    --table-padding: 1.618rem;

}

/* Body Styles */

* {
    color: var(--font-color);
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary);
}

#wrapper {
    background-color: var(--background-color);
}
/* End of Body Styles */


/* Grid System */
.container-fluid, 
.container {

    width: 100%;
    padding-left: 1rem;
    padding-righT: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 576px){
    .container {max-width:576px; }
    .lorem-articles {
        display:flex;
        flex-flow:column wrap;
        align-content:center;
        justify-content:center;
    }
    .md-second-row {
        display:flex;
    }
    .md-third-row {
        display:flex;
    }
}

@media screen and (min-width: 768px){
    .container {max-width:768px; }
    
    .lg-second-row {
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
    .md-second-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
    }

@media screen and (min-width: 992px){
    .container {max-width:992px; }
}

@media screen and (min-width: 1200px){
    .container {max-width:1200px; }
}

.row {
    flex: 0 0 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: -1rem;
    margin-right: -1rem;
    row-gap: 1rem;
}

.column {
    flex: 0 0 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content:space-around;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 10px;
}

.mult-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

[class^="col-"] {
    padding: 0 1rem;
    width: 100%;
    max-width: 100%;
}

.col-xs-1 {
    flex: 0 0 var(--col-1);
    max-width: var(--col-1);
   
}

.col-xs-2 {
    flex: 0 0 var(--col-2);
    max-width: var(--col-2);
    
}

.col-xs-3 {
    flex: 0 0 var(--col-3);
    max-width: var(--col-3);
    
}

.col-xs-4 {
    flex: 0 0 var(--col-4);
    max-width: var(--col-4);
    
}

.col-xs-5{
    flex: 0 0 var(--col-5);
    max-width: var(--col-5);
 
}

.col-xs-6 {
    flex: 0 0 var(--col-6);
    max-width: var(--col-6);
    
}

.col-xs-7 {
    flex: 0 0 var(--col-7);
    max-width: var(--col-7);
    
}

.col-xs-8 {
    flex: 0 0 var(--col-8);
    max-width: var(--col-8);
    
}

.col-xs-9 {
    flex: 0 0 var(--col-9);
    max-width: var(--col-9);
    
}

.col-xs-10 {
    flex: 0 0 var(--col-10);
    max-width: var(--col-10);
    
}

.col-xs-11 {
    flex: 0 0 var(--col-11);
    max-width: var(--col-11);
    
}

.col-xs-12 {
    flex: 0 0 var(--col-12);
    max-width: var(--col-12);
    
}
/* Styles for 'col-sm-...' grid */


@media screen and (min-width: 576px){
    .col-sm-1 {
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
       
    }
    
    .col-sm-2 {
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
       
    }
    
    .col-sm-3 {
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
        
    }
    
    .col-sm-4 {
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
        
    }
    
    .col-sm-5{
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
       
    }
    
    .col-sm-6 {
        flex: 0 0 var(--col-6);
        max-width: var(--col-6);
        
    }

    .col-sm-7 {
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
        
    }

    .col-sm-8 {
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
        
    }

    .col-sm-9 {
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
        
    }

    .col-sm-10 {
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
        
    }

    .col-sm-11 {
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
        
    }

    .col-sm-12 {
        flex: 0 0 var(--col-12);
        max-width: var(--col-12);
        
    }
}

/* Styles for 'col-md-...' grid */
@media screen and (min-width: 768px){
    .col-md-1 {
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
       
    }
    
    .col-md-2 {
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
       
    }
    
    .col-md-3 {
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
        
    }
    
    .col-md-4 {
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
        
    }
    
    .col-md-5{
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
       
    }
    
    .col-md-6 {
        flex: 0 0 var(--col-6);
        max-width: var(--col-6);
        
    }

    .col-md-7 {
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
        
    }

    .col-md-8 {
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
        
    }

    .col-md-9 {
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
        
    }

    .col-md-10 {
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
        
    }

    .col-md-11 {
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
        
    }

    .col-md-12 {
        flex: 0 0 var(--col-12);
        max-width: var(--col-12);
        
    }
}

/* Styles for 'col-lg-...' grid */
@media screen and (min-width: 992px){
    .col-lg-1 {
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
       
    }
    
    .col-lg-2 {
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
       
    }
    
    .col-lg-3 {
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
        
    }
    
    .col-lg-4 {
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
        
    }
    
    .col-lg-5{
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
       
    }
    
    .col-lg-6 {
        flex: 0 0 var(--col-6);
        max-width: var(--col-6);
        
    }

    .col-lg-7 {
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
        
    }

    .col-lg-8 {
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
        
    }

    .col-lg-9 {
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
        
    }

    .col-lg-10 {
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
        
    }

    .col-lg-11 {
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
        
    }

    .col-lg-12 {
        flex: 0 0 var(--col-12);
        max-width: var(--col-12);
        
    }
}

/* Styles for 'col-xl-...' grid */
@media screen and (min-width: 1200px){
    .col-xl-1 {
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
       
    }
    
    .col-xl-2 {
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
       
    }
    
    .col-xl-3 {
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
        
    }
    
    .col-xl-4 {
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
        
    }
    
    .col-xl-5{
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
       
    }
    
    .col-xl-6 {
        flex: 0 0 var(--col-6);
        max-width: var(--col-6);
        
    }

    .col-xl-7 {
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
        
    }

    .col-xl-8 {
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
        
    }

    .col-xl-9 {
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
        
    }

    .col-xl-10 {
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
        
    }

    .col-xl-11 {
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
        
    }

    .col-xl-12 {
        flex: 0 0 var(--col-12);
        max-width: var(--col-12);
        
    }


}

/*End of Grid System*/
/* Navigation Styles */

header {
    display: flex;
}

header > img {
    height: 30vh;
    width: auto;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    background-color: var(--primary);
}

.navbar-brand {
    display: block;
    overflow: hidden;
    background: url(../images/logo.svg) no-repeat center/contain transparent;
    width: 10rem;
    height: 4rem;
    text-indent: -9999px;
    text-decoration: none;
}

.navbar-toggler {
    background-color: var(--primary);
    border: 0 none;
    color: var(--secondary);
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.navigation {
    flex: 0 0 100%;
}

.navigation.collapse .navbar-nav {
    display: none;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
}

.navbar-nav li > a {
    color: var(--white);
    display: block;
    overflow: hidden;
    padding: calc((1em / var(--base-scale)) / var(--base-scale)) calc(1em / var(--base-scale));
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.navbar-nav li.active > a {
    border-bottom-color: var(--primary);
}

.navbar-nav li > a:hover {
    background-color: var(--primary);
    color: var(--white);
}

.dropdown-toggle::after {
    content: "\f0d8";
    font-family: "FontAwesome";
    font-weight: 400;
    margin-left: var(--base-line-height);
}

.collapse .dropdown-toggle::after {
    content: "\f0d7";
}

.dropdown.collapse .dropdown-menu {
    display: none;
}

.dropdown-menu {
    background-color: var(--primary-hover);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 1;
}

.dropdown-menu > a {
    flex: 1 0 100%;
    color: var(--secondary);
    padding: calc((1em / var(--base-scale)) / var(--base-scale)) calc(1em / var(--base-scale));
    text-decoration: none;
}

.dropdown-menu > a:hover {
    background-color: var(--secondary-hover);
    color: var(--font-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

@media screen and (min-width: 768px){
    .navbar-toggler {
        display: none;
    }

    .navigation {
        flex: 0 0 auto;
    }

    .navigation.collapse .navbar-nav,
    .navbar-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: baseline;
        align-content: center;
    }

    .dropdown-menu {
        position: absolute;
    }
}
/* End of Navigation Styles */

/* Main Section Styles */
    /*Slogan */
    .slogan {
        color: var(--font-color);
        font-style: italic;
        text-align: center;
        margin-top: 5%;
    }

    /*Promo */
    .promo {
        display:flex;
        flex-flow: column nowrap;
        text-align: center;
        margin-top: 10%;
        justify-content: space-between;
    }
    .product-section {
        text-align:center;
        margin-top:10%;
        height: 80%;
        display: flex;
        flex-flow: column nowrap;
}
    .cta-section {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
    }



/* End of Main Section Styles */

/* Button Styles */

.btn-primary {
    background-color: var(--tertiary);
    margin-top: 3vh;
    border: none;
    padding: 2%;
}

.btn-primary:hover {
    background-color: var(--tertiary-hover);
}

.promo .cta-section > button {
    background-color: var(--red);
    border: 1px solid var(--gray-0);
    margin-top: 3vh;
}


/* End of Button Styles */

/*Footer Styles*/
footer {
    display:flex;
    flex-flow: column nowrap;
    background-color: var(--primary);
    margin-top: 10%;
    color: var(--secondary);
}

footer ul, footer div, footer img {
    margin: 0 auto;
    width: 80%;
}

footer img {
    margin-top: 5%;
    height: 30vh;
    width: auto;
}

footer ul {
    list-style-type: none;
}

footer ul > li > a {
    text-decoration: none;
    color: var(--secondary);
}

footer ul.contact {
    height: 30vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-top: 5%;
}

ul.contact  i {
    margin-right: 5%;
    color: var(--secondary);
}

.bottom-nav {
    height: 30vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-top: 10%;
}

.bottom-nav li {
    width:30%;
    margin-top: 2%;
}

.bottom-nav li a {
    text-decoration:underline;
}

.bottom-nav li a:hover {
    color: var(--secondary-hover);
    text-decoration: none;
    
}

.copyright {
    margin-top: 10%;
    font-style: italic;
    text-align: center;
}

.copyright p {color: var(--secondary);}

.social-media {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}

.social-media i {
    color: var(--secondary);
}

/* End of Footer Styles */

/* About Page Styles */

.page-title {
    margin-top: 10%;
    text-align: center;
}

.blurb {
    margin-top: 10%;
    display: flex;
    flex-flow: column nowrap;
    height: 20vh;
    justify-content: space-between;
    text-align: center;
}
.team {
    margin-top: 10%;
margin-left: 5%;}
.team img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: inline-block;
}
.member {
    margin-top: 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.member-info {
    margin-left: 5%;
}

.our-story {
    height: 150vh;
    display: flex;
    flex-flow: column nowrap;
}

.our-story > h3 {
    text-align: center;
    margin-top: 10%
}

.our-story ul {
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    height: 150vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    list-style-type: disc;
}

/* End of About Page Styles */

/* Categories Page Styles */

.category-section {
    margin-top: 10%;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
   
}
.category-section img {
    width: var(--col-3);
    height: auto;
    object-fit:scale-down;
}
.category {
    margin-top: 5%;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-bottom: 2px solid var(--font-color);
}

.category-desc {
    margin-left: 10%;
}

.category-desc ul {
    margin-bottom: 5%;
}

/* End of Categories Page Styles */

/* Individual Product Page Styles */

.ind-prod {
    height: 100vh;
    margin-left: 10%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.ind-prod img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    align-self: center;
    margin-top: 5%;
}
/* End of Individual Product Page Styles */

/* Form Styles */
    /* Contact Page Message Styles */
    .message {
        text-align:center;
    }
    .message.success {color:green;}
    .message.fail {color:red;}
    /* End of Contact Page Message Styles */
form {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--primary);
    
}
fieldset {
	padding: 10px; 
	border: 0px;
	margin-bottom: var(--base-line-height);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
    justify-content: center;
   
}
fieldset legend {
    text-align: center;
    margin-bottom: 5%;
}
fieldset h3 {padding: 10px;}

fieldset h3, fieldset label {color: var(--secondary);}

.form-group {
	margin-bottom: var(--base-line-height);
}
.form-group.row {
    display: flex;
    flex-flow: column nowrap;
}
fieldset .form-group:last-of-type {
	margin-bottom: 0;
}
.form-group label {
	font-weight: 400;
}
.form-control, .form-check-input {
	accent-color: var(--secondary);
}
input, select, textarea {
	font-family: inherit;
	font-size: 1rem;
	line-height: var(--base-line-height);
    padding: calc((1em / var(--base-scale)) / var(--base-scale) / var(--base-scale)) calc(1em / var(--base-scale) / var(--base-scale)); 
	border: 1px solid var(--font-color);
	color: var(--font-color);
	background-color: var(--secondary);
}
input.form-control {
	width: 100%;
	max-width: 100%;
}
textarea {
	width: 100%;
	max-width: 100%;
	min-height: calc(4 * var(--base-line-height));
}

/* Pseudo Selectors */

.form-control:focus {
	outline: var(--secondary-hover) solid 2px;
	outline-offset: 2px;
}
.form-check-input:checked {
	box-shadow: 0 0 4px 4px var(--secondary-blurred);
}
.form-control:disabled, .form-control:hover:disabled, input:disabled, input:hover:disabled {
	background-color: var(--gray-3);
	color: var(--gray-2);
	cursor: not-allowed;
}
input:invalid, input:focus:invalid {
	/* border-color: red; */
	box-shadow: 0 0 2px red;
	outline: red solid 2px;
	outline-offset: 2px;
    background-color: var(--red-hover);
    color: white;
}
/* End of Forms*/
/* End of Form Styles */

/* Error Page Styles */

.error-page.box {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 5%;
   
}

.error-page.box.fourhundred::before {
    content: "";
      background-image: url(../images/error400.jpg);
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
}

.error-page.box.fivehundred::before {
    content: "";
      background-image: url(../images/error500.jpg);
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
}

.error-page.header, .error-page.box p, .error-page.box button {
    position: relative;
    font-size: 250%;
    font-weight: bold;
    margin: 5%;
}

.error-page.header, .error-page.box p {
    color: var(--secondary);
    text-shadow: 2px 2px 2px var(--font-color);
}

/* End of Error Page Styles */

/* Services Page Styles */


.services-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 90vh;
    padding: 10%;

}

    /*Individual Service Page*/
.interest-form {
    height: 150vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.interest-form form {
    margin-top: 5%;
}

.interest-form img {
    align-self: center;
}

/* End of Services Page Styles */

/*Clearance Page Styles */
.clearance-section {
    margin-top: 10%;
}
.clearance-section h3 {
    text-align:center;
}
.clearance-section-category {
    margin-top: 10%;
}
.clearance-section img {
    height: auto;
    object-fit: cover;
}
.clearance-section-item {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.clearance-section ul {
    margin-left: 5%;
}

.sale-marker {
    color:red;
}


/* End of Clearance Page Styles */

/* Delivery Page Styles */

.delivery-details {
    margin-top:10%;
    margin-left: 10%;
}

.delivery-details ul, .delivery-details li {
    padding: 5%;
}

.delivery-details a:hover {
    font-weight:bold;
    text-decoration: none;
}


/* End of Delivery Page Styles */